<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fil de Canne à Pêche</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fish.css">
    <style>
        #waves-container .wave {
            z-index: 5;
        }
    </style>
</head>
<body>
    <div id="fishingPopUp"></div>
    <div id="waves-container"></div>
    <div id="fond-container"></div>
    <div id="right-container">
        <div id="scoreboard-container"></div>
        <div id="image-container"></div>
        <div id="Pompe-container">
            <div class="pump-container">
                <div class="pump-body">
                    <div class="pump-head"></div>
                    <div class="pump-handle"></div>
                    <div class="pump-hose"></div>
                    <div class="pump-nozzle"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="rope" class="rope">
        <div class="hook"><img src="../static/image/Amecon.png" alt="hamsson"></div>
    </div>
    <canvas id="canvas" width="500" height="600"></canvas>

    <!-- Upgrade Button -->
    <button id="popup-button">Upgrades</button>

    <script src="/static/js/waves.js"></script>
    <script src="/static/js/rope.js" type="module"></script>
    <script src="/static/js/canne.js"></script>
    <script src="/static/js/upgradePopup.js" type="module"></script>
    <script src="/static/js/fish.js" type="module"></script>
    <script src="/static/js/loop.js" type="module"></script>
</body>
</html>