<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fil de Canne à Pêche</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fish.css">
    <style>
        #waves-container .wave {
            z-index: 5;
        }
        #rope {
            position: relative;
            z-index: 10; /* Assurez-vous que ce z-index est plus élevé que les vagues */
        }
    </style>
</head>
<body>
    <div id="waves-container"></div>
    <div id="fond-container"></div>
    <div id="right-container">
        <div id="scoreboard-container"></div>
        <div id="image-container"></div>
        <div id="Pompe-container">
            <div class="pump-container">
                <div class="pump-body">
                    <div class="pump-head"></div>
                    <div class="pump-handle"></div>
                    <div class="pump-hose"></div>
                    <div class="pump-nozzle"></div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div id="rope" class="rope">
                <div class="hook"><img src="/static/image/Amecon.png" alt="hamsson"></div>
            </div>
        </div>
    </div>
    <canvas id="canvas" width="500" height="600"></canvas>

    <!-- Upgrade Button -->
    <button id="popup-button">Upgrades</button>

    <script src="/static/js/waves.js"></script>
    <script src="/static/js/rope.js"></script>
    <script>
        document.querySelector('.pump-container').addEventListener('click', function() {
            const pump = this;
            pump.classList.add('pump-animate');
            setTimeout(() => {
                pump.classList.remove('pump-animate');
            }, 200); // Durée de l'animation en millisecondes

            const hook = document.querySelector('.hook');
            hook.classList.add('hook-animate');
            setTimeout(() => {
                hook.classList.remove('hook-animate');
            }, 1000); // Durée de l'animation de l'hameçon en millisecondes
        });
    </script>
    <script src="/static/js/upgradePopup.js"></script>
    <script src="/static/js/fish.js"></script>
</body>
</html>