<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fil de Canne à Pêche</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <canvas id="canvas" width="500" height="600"></canvas>
    <div>
        <div class="container">
            <div id="rope" class="rope">
                <div class="hook"><img src="../Capture_d_écran_2024-12-06_005815-removebg-preview.png" alt="hamsson"></div>
            </div>
        </div>
            <button id="raise-btn">Remonter</button>
    </div>

    <script src="../static/js/rope.js"></script>
</body>
</html>
